<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Feature.SimpleSearch" extends="Foundation.Serialization.Base" description="SimpleSearch definition items" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
					<predicate>
						<include name="ClothingCompany.Feature.SimpleSearch.Templates" database="master" path="/sitecore/templates/Feature/SimpleSearch" />
						<include name="ClothingCompany.Feature.SimpleSearch.Renderings" database="master" path="/sitecore/layout/renderings/Feature/SimpleSearch" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>