<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Project.ClothingCompany" extends="Foundation.Serialization.Base" description="ClothingCompany definition items" dependencies="Foundation.*,Feature.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
					<predicate>
						<include name="ClothingCompany.Project.Templates" database="master" path="/sitecore/templates/Project/ClothingCompany" />
						<include name="ClothingCompany.Project.Renderings" database="master" path="/sitecore/layout/renderings/Project/ClothingCompany" />
						<include name="ClothingCompany.Project.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/ClothingCompany" />
						<include name="ClothingCompany.Project.Layouts" database="master" path="/sitecore/layout/layouts/Project/ClothingCompany" />
						<include name="ClothingCompany.Project.Content" database="master" path="/sitecore/content/Home" />
						<include name="ClothingCompany.Project.Media" database="master" path="/sitecore/media library/ClothingCompany" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>